nav {
  min-height: 125px;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

  .links {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: rgb(15, 120, 140);
      padding: 5px 15px 5px 15px;
    }

    a:hover {
      background-color: rgb(200, 200, 200);
    }
  }

  .buttons { 
    button {
      margin-left: 10px;
    }

    button#login {
        background-color: rgb(35, 145, 170);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        font-size: 20px;
    }

    button#signup {
        background-color: rgb(50, 50, 255);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        font-size: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 10px;

    .links {
      max-width: 100%;
    }

    .buttons {
      display: flex; 
      justify-content: flex-end;
      margin-right: 16px;
      margin-top: 16px;
      margin-bottom: 10px;

      button {
        margin-left: 16px;
      }
    }
  }
}